.header {
	margin-top: 140px;
}

.img {
	height: 136px;
	width: 130px;

}

.pht {
	margin-top: 80px;
}

.container {
	margin-top: 80px;
   	text-align: center;
}

.earh {
	width: 84px;
	height: 136px;
}
 
p {
	margin-top: 40px;
	font-size: 18px;
}


